NODE_ENV=development
PORT=4000
DATABASE_PROVIDER=sqlite
DATABASE_URL="file:./dev.db"
FRONTEND_URL="http://localhost:5173"
JWT_SECRET="replace-with-a-random-64-character-secret"
REFRESH_TOKEN_SECRET="replace-with-another-random-64-character-secret"
ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="ChangeMe123!"
PLATFORM_NAME="Exam Platform"
WELCOME_MESSAGE="Welcome to the Exam Platform"
PYTHON_PATH="python"
